.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}

.activeFilter{
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}

.addItemForm {
    border: 2px solid hotpink;
    border-radius: 3px;
    padding: 10px;
}